.file-upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #999;
    height: 400px;
    width: 750px;
    margin: 30px;
    border-radius: 10px;
    margin-right: 60px;
}

.file {
    display: none;
}

.file-upload-button {
    background-color: #5C8B50;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 40px;
    margin-left: 30px;
    color: white;
}

.file-upload-button:hover {
    cursor: pointer;
}