.dashboard-main {
    display: flex;

}

.pie-chart-box {
    height: 400px;
    width: 450px;
}

.download-btn {
    width: 180px;
    height: 40px;
    background-color: #322E2E;
    border: none;
    border-radius: 8px;
    color: white;
}

.download-btn:hover {
    cursor: pointer;
}